<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post">
            <input class="form-control" placeholder="Category name" type="text" name="Name" />
            <br />
            <input type="submit" class="btn btn-outline-success" value="Create" />
        </form>
    </div>
</div>